

.card {
  padding: 2em 0;
  height: 10em;
  width: 100%;
  perspective: 1000px;
}

.card.flipped .front {
  transform: rotateX(180deg);
}

.card.flipped .back {
  transform: rotateX(0deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding: 20px;
  background-color: white;
  transition: transform 0.6s linear;
}

.front {
  transform: rotateX(0deg);
  color: #333;
  background-color: white;
}

.back {
  transform: rotateX(-180deg);
  color: white;
  background-color: #333;
}

/* Typography */
.front,
.back {
  font-family: "Arial", sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.edit-button img {
  height: 1.2em;
}

.card-actions {
  display: flex;
  gap: 0.5em;
}

.card-info {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
  display: flex;
}

.card-status, .card-created, .card-updated {
  margin-bottom: 5px;
}
