.flashcards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.lastitem-container{
  width: 100%;
}

/* Responsive adjustments (optional) */
@media (max-width: 600px) {
  .flashcards-grid {
    grid-template-columns: 1fr;
  }
}
